.landpage{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    color: black;
}

.welki{
    color: black;
    /* background-color: black; */
    display: flex;
    justify-content: center;
}

.studio, .P{
    /* background-color: black; */
    color: black;
    display: flex;
    justify-content: center;
}

.head{
    background-image: url(../backgrounds/h_img.jpg);
    height: 100%;
}

.mouse{
    display: flex;
    justify-content: center;
}
.about_m{
    display: flex;
    justify-content: center;
}

.para{
    display: flex;
    justify-content: center;
}
