.landpage{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    color: black;
}

.welki{
    color: black;
    /* background-color: black; */
    display: flex;
    justify-content: center;
}

.studio, .P{
    /* background-color: black; */
    color: black;
    display: flex;
    justify-content: center;
}

.head{
    background-image: url(../backgrounds/h_img.jpg);
    height: 100%;
}

.mouse{
    display: flex;
    justify-content: center;
}
.about_m{
    display: flex;
    justify-content: center;
}

.para{
    display: flex;
    justify-content: center;
}

#services{
    color: white;
    text-align: center;
    background-image: url(../backgrounds/s_image.jpg);
    background-size: cover;
}

h5{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.development-description,
.design-description,
.product-description {
  display: none;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

img:hover {
    cursor: pointer;
  }
  
  .about-title{
  text-align: center;
  }
  
  .what{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  }
  